h1{
    
    text-align: center;

    color: #d4dadf;  
    margin-bottom: 20px;
    font-family: 'Carattere', cursive;
text-shadow: 2px 2px 4px #000000bb;
font-size: 5.5em;
 word-spacing: -11px;
 text-shadow: 2px 2px 4px #000000bb;

}


button {
    background-color: #c9d0dda3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
  font-family:monospace;


}

nav{display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;

text-shadow: 2px 2px 4px #000000bb;
}

a{text-decoration: none; color: #333; font-weight: bold;

  background-color: #ffffff90;
   
  
}



footer{
    
    text-align: center; 
    margin-top: 20px;
     color: #666;


}


#foot-text {
    font-size: 18px;
    color: #333;
    background-color: #ffffffcc;

}

header {
    background-color: #5f6c83a3;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: -40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



img {
    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;   
  height: 400px;
  object-fit: cover;
margin-left: auto;
margin-right: auto;
display: block;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../images/museum-5400973_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

  

h2{
   text-align: center;
      color: #d4dadf;
    font-size: 28px;
    margin-top: -5px;
     background-color: #5f6c83a3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
    padding: 4px;
    border-radius: 8px;
}       




.collections-container {

    display: flex;
    justify-content: center;
    margin-top: 50px;

  background-color: #ffffff90;
   
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    

}

.collection-item {
    margin: 10px;
 }

    section{
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;



    }