h1{
    
    text-align: center;

    color: #d4dadf;  
    margin-bottom: 20px;
    font-family: 'Carattere', cursive;
text-shadow: 2px 2px 4px #000000bb;
font-size: 7.5em;
 word-spacing: -11px;


}


button {
    background-color: #c9d0dda3;
    border: 2px solid #f7f3f3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
  font-family:monospace;


}

img {
    
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 1000px;   
  height: 500px;
  object-fit: cover;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 40px;


}

figure {
background-color: #ffffffcc;


padding-top: 0.002%;
padding-bottom: 0.002%;
    margin: 50px 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#collect-button {
 background-color: #5f6c83a3;
    border: 2px solid #f7f3f3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);}

p {
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}
h2 {
font-size: 55px;
    color: #ffffffec;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: -10px;
    margin-top: 40px;
    text-align: center;
     background-color: #5f6c83a3;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

nav{display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;}

a{text-decoration: none; color: #333; font-weight: bold;


}



footer{text-align: center; margin-top: 20px; color: #666;
background-color: #ffffffcc;
}


header {
    background-color: #5f6c83a3;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: -113px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../images/museum-5400973_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
}


 
