h1{
    
    text-align: center;

    color: #d4dadf;  
    margin-bottom: 20px;
    font-family: 'Carattere', cursive;
text-shadow: 2px 2px 4px #000000bb;
font-size: 5.5em;
 word-spacing: -11px;
 text-shadow: 2px 2px 4px #000000bb;

}


button {
   background-color: #5f6c83a3;
    border: 2px solid #f7f3f3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
  font-family:monospace;


}

#head{
background-color: #c9d0dda3;
    border: 2px solid #f7f3f3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
  font-family:monospace;



}

nav{display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;

text-shadow: 2px 2px 4px #000000bb;
}

a{text-decoration: none; color: #333; font-weight: bold;

  background-color: #ffffff90;
   

}

h3{
    font-size: 28px;
margin-top: -5px;
color: #333;

}

p {
   font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
   
    margin-top: 10px;
}

.price{

    font-size: 26px;

    
}

footer{
    
    text-align: center; 
    margin-top: 20px;
     color: #666;


}


#foot-text {
    font-size: 18px;
    color: #333;
    background-color: #ffffffcc;

}

header {
    background-color: #5f6c83a3;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: -40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



img {
    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;   
  height: 400px;
  object-fit: cover;
margin-left: auto;
margin-right: auto;
display: block;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../images/museum-5400973_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

  

h2{
   text-align: center;
      color: #d4dadf;
    font-size: 28px;
    margin-top: -5px;
     background-color: #5f6c83a3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
    padding: 4px;
    border-radius: 8px;
}       




.souvenir-container {

    display: flex;
    justify-content: center;
    margin-top: 50px;
flex-wrap: wrap;
gap: 20px;
  background-color: #ffffff90;
   
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    

}

.souvenir-item {
    margin: 10px;
 }

    section{
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    }



    .modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.modal img {
    display: block;
    margin: 60px auto;
    max-width: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


#floatingCart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
