h1{
    
    text-align: center;

    color: #d4dadf;  
    margin-bottom: 20px;
    font-family: 'Carattere', cursive;
text-shadow: 2px 2px 4px #000000bb;
font-size: 5.5em;
 word-spacing: -11px;

}


button {
    background-color: #c9d0dda3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
  font-family:monospace;


}

nav{display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;}

a{text-decoration: none; color: #333; font-weight: bold;}



footer{
    
    text-align: center; 
    margin-top: 20px;
     color: #666;


}
#welcome-text {
    font-size: 30px;
    color: #333;
    margin-top: 10px;
}

#foot-text {
    font-size: 18px;
    color: #333;
    background-color: #ffffffcc;

}

header {
    background-color: #5f6c83a3;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: -40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../images/museum-5400973_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.welcome-message {
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
}

