h1{
    
    text-align: center;

    color: #d4dadf;  
    margin-bottom: 20px;
    font-family: 'Carattere', cursive;
text-shadow: 2px 2px 4px #000000bb;
font-size: 7.5em;
 word-spacing: -11px;


}


button {
    background-color: #c9d0dda3;
  border: 2px solid #f7f3f3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;
  font-family:monospace;


}

nav{display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;}

a{text-decoration: none; color: #333; font-weight: bold;}




header {
    background-color: #5f6c83a3;
    padding: 10px 10px;
    margin-bottom: 30px;
    margin-top: -113px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}





body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../images/museum-5400973_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.staff-intro{

    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

h2{

        text-align: center;
        color: #333;
        font-size: 48px;
        margin-bottom: 10px;
        letter-spacing: 5px;
        word-spacing: 10px;
}
   
h3{

margin-top: 50px;
margin-bottom: 20px;
        
        color: #d4dadf;
        font-size: 32px;
       background-color: #5f6c83a3;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-shadow: 2px 2px 4px #000000bb;

    }


img {
    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;   /* choose any size */
  height: 500px;
  object-fit: cover;


}



figure {
    display: flex;
    justify-content: center;
    margin-top: 10px;

  background-color: #ffffffcc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

p{
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    
     background-color: #ffffffa5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    word-spacing: 4px;
    letter-spacing: 2px;
    
}

footer{
    
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: monospace;
   justify-content: center;
font-size: 25px;
text-align: center;
   margin-left: auto;
   margin-right: auto;
   
    height: fit-content;
  
}

#foot{
    margin: 5px;

    word-spacing: 2px;
    text-shadow: 2px 2px 4px #000000bb;

    text-align: center;


height: fit-content;

 margin-left: auto;
   margin-right: auto;
  
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f6c83a3;
   
}

#link{
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000bb;
font-size: 30px;
    text-align: center;
background-color: #ffffffcc;
   
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    text-decoration-color: #333;
}